body {
	font-family: "Roboto", sans-serif;
	font-family: "Raleway", sans-serif;

	background-color: #ffffff;
}
.container {
	font-family: "Roboto";
	background-color: #ffffff;
	color: #212121;
}
.link-logo-top {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	/* identical to box height */

	letter-spacing: 0.03em;

	color: #2196f3;
}
/*.navigation {
	position: absolute;
	width: 1600px;
	height: 0px;
	left: 0px;
	top: 80px;

	border: 1px solid #ececec;
}*/
/*.menu-nav {
	position: absolute;
	width: 294px;
	height: 16px;
	left: 453px;
	top: 20px;
}*/
.menu-nav-first {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;

	color: #212121;
}
*/ .menu-nav-second {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;

	color: #212121;
}
.menu-nav-third {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;

	color: #212121;
}
.link-contact-first {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;

	color: #757575;
}
.link-contact-second {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;

	color: #757575;
}
/*.post {
	position: absolute;
	width: 1600px;
	height: 800px;
	left: 0px;
	top: 80px;
}*/
.bg {
	/*position: absolute;
width: 1600px;
height: 600px;
left: 0px;
top: 80px;*/

	background: #2f303a;
}
.post-title {
	font-family: "Roboto";
	font-style: normal;
	line-height: 60px;
	/* or 136% */

	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	color: #ffffff;
}
button {
	cursor: pointer;
	border: none;
}
button:hover {
	background-color: rgb(16, 8, 235);
	color: #ffff;
}
.button {
	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}
.features-container {
}
.features-list {
	display: flex;
	justify-content: center;
}
.hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.link {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #212121;
}
.link-contact {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #757575;
}

.link-contact:hover,
.link-contact:focus,
.contact:focus,
.contact:hover,
.map:hover,
.map:focus,
.link:focus,
.link:hover {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #2196f3;
}
.link-contact-first:focus,
.link-contact-first:hover,
.link-contact-second:focus,
.link-contact-second:hover,
.contact-first:hover,
.contact-first:focus,
.contact-second:focus,
.contact-second:hover {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #2196f3;
}
a {
	text-decoration: none;
}
.accent-first {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	letter-spacing: 0.03em;
	color: #000000;
}

ul {
	list-style: none;
}
li {
	display: inline-block;
}
:root {
	--background-color: #e5e5e5;
	--color: #212121;
}
.button {
	position: absolute;
	width: 200px;
	height: 50px;
	left: 700px;
	top: 430px;
	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}
.contained {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
}
.content {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	/* identical to box height, or 188% */

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;

	color: #ffffff;
}
.text {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.03em;
	color: #757575;
}
.title {
	font-family: "Roboto";
	font-style: normal;
	color: #212121;
}
h4 {
	font-family: "Roboto";
	font-style: normal;
	color: #212121;
}
h3 {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #212121;
}
h2 {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
}
p {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;

	letter-spacing: 0.03em;
	color: #757575;
}

/* .team {
	background: #f5f4fa;
}
.team-list-card1 {
}
/* .team-list {
} */
/* .team-title {
	position: absolute;

	font-family: "Roboto";

	color: #212121;
}*/
footer {
	background: #2f303a;
}
.link-logo {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
	/* identical to box height */

	letter-spacing: 0.03em;

	color: #2196f3;
}
.accent-first-footer {
	font-family: "Raleway";

	color: #ffffff;
}
/*.address {
}*/
.map {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: #ffffff;
}
.contact-first {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}
.contact-second {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}
